[Unit]
Description=LinHT GUI

[Service]
ExecStart=/opt/linht-gui/linht-gui
WorkingDirectory=/opt/linht-gui
Restart=always

[Install]
WantedBy=multi-user.target
