[Unit]
Description=GUI Test
After=multi-user.target
Wants=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/gui_test
Restart=on-failure
RestartSec=5s
User=root

[Install]
WantedBy=multi-user.target
